body{
  
  
    font-family: 'Roboto', sans-serif;
font-family: 'Noto Sans', sans-serif;
}
.animeted-R{
     visibility: visible;
     animation-name: fadeInRight;
        animation-duration: 0.6s;
}
.animeted-l{
     visibility: visible;
     animation-name: fadeInLeft;
        animation-duration: 0.6s;
}
.animeted-feadin{
    visibility: visible;
    animation-name: fadeIn;
    animation-duration: 0.6s;
    overflow: hidden;
}


.fixed-top{
  transition:500ms ease;
        z-index: 9998;
        width: 100%;
    height: auto;
    
}
.fixed-top.scrolled{
  background-color: #1f1f38!important;
}
.fixed-top.scrolled a{
    color: #fff!important;
}
#button1 {
  display: inline-block;
  background-color: #2271f0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button1::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button1:hover {
  cursor: pointer;
  background-color: #333;
}
#button1:active {
  background-color: #555;
}
#button1.show {
  opacity: 1;
  visibility: visible;
}
.btn-primary{
    background: linear-gradient(135deg, #2271f0 100%, #ef8feb 0%);
    color: #fff !important;
}
.btn{
    border-radius: 30px;
    display: inline-block;
    color: #212529;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.nav-item a:hover{
    color: rgba(51, 122, 180,0.58)!important;
}
.bg-home{
        background-image: url(../img/Canvas.png);
    height: 700px;
    background-size: cover;
    background-position: center center;
}
.text1{
    font-size: 48px;
}
.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
 background:  linear-gradient(135deg, #2271f0 0%, #ef8feb 100%);
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.text-layer{
        position: absolute;
        bottom: 0px;
    right: 0px;
    left: 0px;
  background:  linear-gradient(135deg, #2271f0 0%, #ef8feb 100%);
    padding: 1em 0;
        transition: all 0.6s ease;
    opacity: 0;
}

/* i need ma;e to text and img hover together not each*/
.text-layer:hover{
    opacity: 1;
   

}


.project .img{
        position: relative;
    overflow: hidden;
}

.project img:hover{
     overflow: hidden;
        transform: scale(1.1);
}
.projects .text-layer h3{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}
.projects .text-layer a{
    color:#fff;
    text-decoration: none;
}
.projects .text-layer span{
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
}
.project{
        
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 0;
    margin-bottom: 50px;
}


.site-footer
{
  background-color:#1f1f38;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.site-footer .social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
//============================
#about
{    background: #fff;
    padding: 60px 0;
}
.title h3{
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
}
.title p{
        text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
}
#about .about-vision {
        padding-top: 60px;
    
}
#about .about-vision h4{
        font-weight: 600;
    font-size: 24px;
   
}
#about .about-vision p{
    font-size: 24px;
}
//=======================================
#team{
    background: #fff;
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
#team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
#team .member-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.2s;
    
}
#team .member:hover .member-info{
    background: rgba(0, 62, 128, 0.7);
    opacity: 1;
    transition: 0.4s;
}
}
#team .member-info-content{
        margin-top: 50px;
    transition: margin 0.2s;
}    
    
#team .member-info-content h4
{
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
} 
#team .member-info-content span{
        font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}
//=======================
#team .social-icons{
    margin-top: 15px;
    
}
#team .social-icons a{
        transition: none;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
        display: inline-block;

}
#team .social-icons i{
    font-size: 18px;
    margin-right: 2px;
}
//=====================================================


* {
	margin:0px;
	padding:0px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
	background: #ffffff;
	color: #333;
	font-weight: normal;
	font-size: 1em;
	font-family: 'Roboto', Arial, sans-serif;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */



.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #2271f0;
	font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #2271f0;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #2271f0;
}

/* @media querries 

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}
*/